#Subject: Rootnode, konto na kontenerze web1 (%%user_name%%)
Witaj,

Twoje dane do logowania.

  host:       %%host%%
  port:       %%port%%

  użytkownik: %%user_name%%
  hasło:      %%user_password%%

W celu zalogowania się użyj komendy ssh lub programu Putty:
$ ssh -l %%user_name%% -p %%port%% %%host%%

Po zalogowaniu:
  
1. Wgraj klucz ssh do pliku ~/.ssh/authorized_keys.
2. Zmień hasło za pomocą polecenie 'passwd'.

--
Kochani administratorzy.
